* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#container {
    width: 84%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 35rem;
    background: url("https://cdn.pixabay.com/photo/2020/05/15/18/46/corona-5174671_1280.jpg");
    opacity: 0.5;
    box-shadow: 0 4px 0.3125rem rgba(0, 0, 0, 0.3);
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    color: white;
}

nav {
    padding: 1rem 3rem;
    background: #333;
}
nav ul {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
nav ul li {
    margin:0 1rem;
}
nav ul li a {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    flex: 3;
    padding: 3rem;
    background: #eee;
}

article {
    min-height: 8rem;
    padding: 1rem;
    margin-bottom: 2rem;
    background: #fff;
}

aside {
    flex: 1;
    padding: 3rem;
    background: #ddd;
}

footer {
    padding: 2rem 3rem;
    text-align: center;
    background: #333;
    color: white;
}
